/* global css */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0;
}
ul li{
    list-style: none;
    display: inline-block;
}
ul li a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/* header area css */
header{
    background: #FFF8F3;
}
nav, .itroduction,  .service-content, .resume-content{
    display: flex;
    justify-content: space-between;
}
.logo{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
    line-height: 170px;
}
.logo span{
    color: #FD6E0A;
}
.header-menu ul{
    display: flex;
    justify-content: space-between;
    line-height: 150px;
}
.header-menu ul li{
    margin-left: 50px;
}
.header-menu ul li a{
    font-size: 20px;
    color: var(--dark-02, #474747)
}
.primary-button{
    background-color: #FD6E0A;
    color: #ffffff;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.introduce-content{
    padding: 200px 0px;
    justify-content: flex-end;
}
.introduce-content h3{
    color: var(--dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
}
.introduce-content h1{
    color: var(--dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
}
.introduce-content p{
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    max-width: 585px;
    padding: 30px 0px;
}
.introduce-content ul li{
    display: inline-block;
    margin-right: 30px;
}
.contact{
    background:#ffffff;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}
/* about css start */
#about{
    padding: 100px 0px;
}
.about-container{
    border-radius: 10px;
    background: #FFF8F3;   
    padding: 100px 0px; 
}
.all-section-top{
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
    
}
.all-section-top h3{
    color: var(--dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
}
.all-section-top p{
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    padding: 30px 0px;
}
.about-content{
    text-align: center;
}
.about-content-item{
    /* max-width: 250px; */
   display: inline-block;
   margin: 0px 60px;
}
.about-content-item p, .about-content-item h4{
    color: #757575;
    font-size: 20px
}
/* services css start */
#services{
    padding-bottom: 100px;
}
.services-items{
    padding: 30px;
    width: 260px;
    margin-right: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.services-items p{
    max-width: 200px;
    font-size: 16px;
    color: var(--dark-03, #757575)
}
.services-items h3{
    padding: 15px 0px;
    color: var(--dark-01, #181818);
    font-size: 20px;
}
/* resume css start from here */
#resume{
    padding-bottom: 100px;
}
.resume-education{
    margin-right: 30px;
    
}
.resume-content{
    padding: 50px 0px;
}
.resume-education h3, .resume-experience h3{
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-02, #474747);
}
.resume-items{
    border-bottom: 1px solid #D1D1D1;
    padding: 20px 0px;
}
.resume-items h4{
    font-size: 25px;
    color: var(--dark-02, #474747);
}
.resume-items h5{
    font-size: 20px;
    color: var(--dark-03, #757575)
}
.resume-items p{
    font-size: 16px;
    padding: 15px 0px;
    color: var(--dark-03, #757575);
}
.container .primary-button{
    margin: 0 auto;
}
/* footer css start */
footer{
    padding: 100px 0px;
    background: #FFF8F3;
}
.footer-contents{
    display: flex;
}
.footer-contact-form{
    justify-items: flex-end;
}
.social-media{
    margin-right: 50px;
}
.social-media h3, .footer-contact-form h3{
    color: var(--dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 20px;
}
.social-media p{
    width: 562px; 
    color: var(--dark-02, #474747);
    font-size: 16px;
    padding-bottom: 20px;
}
.social-media ul li{
    margin-right: 20px;
}
.social-media ul li a{
    color: #FD6E0A;
}
.contact-form, .contact-form input{
    display: block;
}
.contact-form input, .contact-form textarea{
    width: 400px;
    border-radius: 5px;
    border: none;
    color: #000000;
    padding: 15px 0px 15px 10px;
    margin-bottom: 20px;
    color: var(--dark-03, #757575);
    font-size: 16px;
}
